extends layout
block content
 h1 Register here
 form(action='/set-password' method='POST')
 label(for='email') Enter your email:
 input('name'='email')
 label(for='email') Enter your password:
 input('name'='password')
 input(type='submit' value='Submit')