mixin navigation
  nav
    a(href="/")
      b Population data search
    a(href="/cities") Cities
    a(href="/countries") Countries 
    a(href="/countrylanguages") Languages  
    a(href="/data/login") Login
    a(href="/data/register") Register 
