.search-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}


#searchInput {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    padding: 8px; 
    border: none;
    border-radius: 8px;
    transition: width 0.3s ease;
    outline: none;
}

#searchInput.expand {
    width: 350px;
}